.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* Rectangle 1 */
.sideContainer {
    position: absolute;
    width: auto;
    height: auto;
    left: 70%;
    right: 2%;
    top: 10%;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: blue 0px 0px 10px;
}

.sideContainer h1 {
    font-size: 40px;
    border-bottom: 3px solid white;
    margin-left: 5%;
    margin-right: 5%;
}

.sideContainer p {
    font-style: italic;
}
.pickDate p{
    color: white;
    text-shadow: 0px 0px 5px yellow;
    line-height: 0;
    font-weight: bold;
}

.credits img{
    width: 100px;
    height: 85px;

    top: 87%;
    left: 10px;
}

.pickDate {
    position: absolute;
    bottom: 20px;
    display:inline-block;
    margin: 0 auto;
}
@media (max-width: 800px) {
    body {
        background-color: black;
    }
    .container {
        width: 200%;
    }
    .container img {
        position: relative;
        top: 100px;
    }
    .pickDate {
        position: relative;
        bottom: 0px;
        display:inline-block;
    }
    .credits img{
        width: 100px;
        height: 85px;    
    }
}